* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secundary-color: black;
    --font-family: Playfair Display SC;
    --margin-bottom: 20px;
    --padding: 20px;
    --gap: 30px;
}

body {
    background-color: white;
}

/*main navigation bar*/
header {
    background-color: transparent;
    padding: 0;
    position: relative;
}

header .logo {
    position: fixed;
    top: 5px;
    left: 20px;
    margin: 0;
    padding: 0;
    z-index: 1001;

}

header .logo img {
    height: 70px;
    width: auto;
    margin-bottom: 0;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px 20px;
    padding-left: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    position: relative;
    margin: 0;


}

.nav-links a {
    font-family: var(--font-family);/*BBH Bogle*/
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
    padding: 50px;
}

.nav-links a:hover {
    color: #ccc;

}

/*main navigation bar*/

.hero {
    position: relative;
    margin-top: 0;
    padding: 0;

}

.hero img {
    width: 100%;
    height: 100vh;
    padding: 0;
    object-fit: cover;
    display: block;
    border: none;

}

header h1 {
    text-align: center;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-family: var(--font-family);
    font-size: 3rem;
    margin: 0;
    color: black;
    width: 100%;
}

section {
    padding: 60px 20px;
    margin: 0;
    background-color: #f9f9f9;

}

section h2 {
    margin-bottom: 40px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}

header p {
    text-align: center;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    width: 100%;
}

/*products*/
#productos {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

#productos h2 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 30px;
}

.productos-lista {
    display: grid;
    max-width: 1400px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap);
    margin: auto;
}
.destacado {
    border: 2px solid #000;
    background-color: #fbfbfb;
    padding: 0px;
    border-radius: 8px;
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.destacado p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}
.destacado img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    display: block;
    margin-bottom: 0
}
.destacado figcaption {
    padding: 20px;
    margin: 0;
}
.producto {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.producto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.producto figure {
    position: relative;
    margin: 0;
}

.producto figure img:first-of-type {
    /* imagen visible */
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.producto figure img:last-of-type {
    /* imagen oculta */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.producto figure:hover img:first-of-type {
    /*ocultar imagen*/
    opacity: 0;
}

.producto figure:hover img:last-of-type {
    opacity: 1;
}

.producto figcaption {
    font-family: var(--font-family);
    color: var(--secundary-color);
    text-align: center;
    padding: 20px;
    text-align: center;
    display: block;
    z-index: 3;
}

.producto figcaption h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;

}

.producto figcaption p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.producto figcaption strong {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
}
/*products*/

/*collections*/
#coleccion {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

#coleccion h2 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 30px;
}

#coleccion p {
    text-align: center;
    font-family: var(--font-family);
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
}

#coleccion h3 {
    text-align: center;
    font-family: sans-serif;
    color: var(--primary-color);
    font-size: 1.8em;
    margin: 0;
    background-color: rgba(89, 40, 40, 0.93);
    padding: 5px 10px;
    border-radius: 2px;
}

.coleccion {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.coleccion img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(117, 170, 146, 0.23) 0px 6px 6px;
}

.colecciones {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.coleccion {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*collections*/

/*about us*/
#sobre-nosotros {
    margin-top: 0;
    background-color: #f9f9f9
}

#sobre-nosotros h2 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 30px;
}

#sobre-nosotros p {
    font-family: var(--font-family);
    font-size: 1.3em;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.cuadro-sobre-nosotros {
    border: 2px solid #000000;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #723b3b;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(117, 170, 146, 0.23) 0px 6px 6px;
    ;

}
/*about us*/

/*form*/
#contacto h2 {
    text-align: center;
    font-family: var(--font-family);
    font-size: 2.5em;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 80px;
}

#formulario {
    max-width: 500px;
    padding: var(--padding);
    margin: 0 auto;
    width: 90%;
    background-color: rgba(30, 30, 30, 0.93);
}

#formulario fieldset {
    border: 3px groove rgb(255, 255, 255);
    padding: 20px;
    color: rgb(255, 255, 255);
}

legend {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    padding: 0 10px;
    font-size: 2.0em;
}

label {
    color: rgb(255, 255, 255);
    font-family: var(--font-family);
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

#opciones {
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 2px solid rgb(0, 0, 0);
}

#opciones option {
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    background: white;
    font-family: var(--font-family);
}

textarea {
    resize: none;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: rgb(175, 171, 171);
    color: rgb(0, 0, 0);
    font-family: var(--font-family);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #7a7878;

}
/*form*/

/*footer*/
footer {
    margin-top: 0px;
}

.nav-cookies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    gap: 20px;
    background-color: rgb(0, 0, 0);
}

.footer-logo img {
    height: 80px;
}

.derechos {
    color: var(--primary-color);
    white-space: nowrap;
    font-size: 0.85em;
}

.politicas {
    display: flex;
    list-style: none;
    gap: 30px;
}

.politicas li {
    list-style: none;
}

.politicas a {
    color: var(--primary-color);
    font-family: var(--font-family);
    text-decoration: none;
    font-size: 0.85em;

}

.politicas a:hover {
    color: white;
}

.language-select label {
    color: white;
    font-family: var(--font-family);
    font-size: 0.85em;
    margin-right: 10px;
}

#language {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    border: 2px solid var(--secundary-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: var(--font-family);
}

#language option {
    color: black;
    font-family: var(--font-family);
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}
/*footer*/

/*Tablet*/
@media (max-width: 1024px) {


    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 18px;
        padding: 40px;
    }


    header h1 {
        font-size: 2.5rem;
        top: 100px;
    }

    header p {
        font-size: 1.3rem;
        top: 160px;
    }

    .productos-lista {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .colecciones {
        flex-direction: column;
        gap: 30px;
    }

    .coleccion img {
        height: 250px;
    }

    #formulario {
        max-width: 600px;
    }

    .nav-cookies {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .footer-logo {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .derechos {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .politicas {
        order: 3;
        width: 100%;
        justify-content: center;
    }

    .language-select {
        order: 4;
        width: 100%;
        text-align: center;
    }
}

/*Movil*/

@media (max-width: 768px) {

    .navbar {
        height: 70px;
        padding: 5px 10px;
        padding-left: 80px;
    }

    header .logo img {
        height: 50px;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 14px;
        padding: 10px;
    }

    .hero img {
        height: 60vh;
    }

    header h1 {
        font-size: 1.8rem;
        top: 80px;
    }

    header p {
        font-size: 1rem;
        top: 130px;
    }

    section {
        padding: 40px 15px;
    }

    section h2 {
        font-size: 1.8em;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    #productos h2 {
        font-size: 1.8em;
        margin-top: 20px;
    }

    .productos-lista {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 10px;
    }

    .producto figcaption h3 {
        font-size: 1.1rem;
    }

    .producto figcaption p {
        font-size: 1rem;
    }

    .producto figcaption strong {
        font-size: 1.1rem;
    }

    #coleccion h2 {
        font-size: 1.8em;
        margin-top: 20px;
    }

    #coleccion p {
        font-size: 1.5em;
    }

    #coleccion h3 {
        font-size: 1.3em;
    }

    .colecciones {
        flex-direction: column;
        gap: 25px;
    }

    .coleccion img {
        height: 200px;
    }

    #sobre-nosotros h2 {
        font-size: 1.8em;
        margin-top: 20px;
    }

    #sobre-nosotros p {
        font-size: 1em;
        text-align: justify;
        padding: 0 10px;
    }

    .cuadro-sobre-nosotros {
        padding: 1rem;
    }

    #contacto h2 {
        font-size: 1.8em;
        margin-top: 20px;
        padding-bottom: 40px;
    }

    #formulario {
        padding: 15px;
        max-width: 100%;
    }

    #formulario fieldset {
        padding: 15px;
    }

    legend {
        font-size: 1.5em;
    }

    label {
        font-size: 0.9em;
    }

    input,
    textarea,
    select {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 10px;
    }

    .nav-cookies {
        padding: 15px 20px;
    }

    .footer-logo img {
        height: 60px;

        .derechos {
            font-size: 0.75em;
        }

        .politicas {
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }

        .politicas a {
            font-size: 0.8em;
        }

        .language-select label {
            font-size: 0.8em;
        }

        #language {
            font-size: 14px;
        }
    }


    .nav-links a {
        font-size: 12px;
        /* Muy pequeño */
        padding: 5px;
    }

    /* HERO MUY PEQUEÑO */
    header h1 {
        font-size: 1.3rem;
        /* Muy reducido */
        top: 70px;
    }

    header p {
        font-size: 0.9rem;
        top: 110px;
    }
}